@font-face {
  font-family: "Norwester";
  src: local("Norwester"),
    url(./fonts/norwester/norwester.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype', 'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Kollektif";
  src: local("Kollektif"),
    url(./fonts/kollektif/Kollektif.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
